* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", "open-sans";
 
}

:root {
  --primary-font: "Poppins", "open-sans";
  --secondary-font: "Jost";
}

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* width */
::-webkit-scrollbar {
  width: 15px;
  transition: 0.5 all ease;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007CEF;
  border-radius: 20px;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background: #007CEF80;
  border-radius: 20px;
}

